.set-colors (@base-color) {
  background-color: @base-color;
  .wc-time, .sub-color {
    background-color: darken(@base-color, 20%);
    border: @base-color;
  }
}

.wc-cal-event-color1, .category-color1 { .set-colors(#CF7070) }
.wc-cal-event-color2, .category-color2 { .set-colors(#CF9F70) }
.wc-cal-event-color3, .category-color3 { .set-colors(#CFB870) }
.wc-cal-event-color4, .category-color4 { .set-colors(#C5C550) }
.wc-cal-event-color5, .category-color5 { .set-colors(#AFCA60) }
.wc-cal-event-color6, .category-color6 { .set-colors(#9FCF70) }
.wc-cal-event-color7, .category-color7 { .set-colors(#80D595) }
.wc-cal-event-color8, .category-color8 { .set-colors(#50C5A8) }
.wc-cal-event-color9, .category-color9 { .set-colors(#50C5C5) }
.wc-cal-event-color10, .category-color10 { .set-colors(#60AFCA) }
.wc-cal-event-color11, .category-color11 { .set-colors(#8095D5) }
.wc-cal-event-color12, .category-color12 { .set-colors(#A38FDA) }
.wc-cal-event-color13, .category-color13 { .set-colors(#B58FDA) }
.wc-cal-event-color14, .category-color14 { .set-colors(#C88FDA) }
.wc-cal-event-color15, .category-color15 { .set-colors(#DA8FC8) }
.wc-cal-event-color16, .category-color16 { .set-colors(#DF9FAF) }
.wc-cal-event-color17, .category-color17 { .set-colors(#A38787) }
.wc-cal-event-color18, .category-color18 { .set-colors(#9A8A7A) }
.wc-cal-event-color19, .category-color19 { .set-colors(#A39C87) }
.wc-cal-event-color20, .category-color20 { .set-colors(#A3A387) }
.wc-cal-event-color21, .category-color21 { .set-colors(#9CA387) }
.wc-cal-event-color22, .category-color22 { .set-colors(#95A387) }
.wc-cal-event-color23, .category-color23 { .set-colors(#87A38E) }
.wc-cal-event-color24, .category-color24 { .set-colors(#87A39C) }
.wc-cal-event-color25, .category-color25 { .set-colors(#7A9A9A) }
.wc-cal-event-color26, .category-color26 { .set-colors(#879CA3) }
.wc-cal-event-color27, .category-color27 { .set-colors(#868EA4) }
.wc-cal-event-color28, .category-color28 { .set-colors(#8E87A3) }
.wc-cal-event-color29, .category-color29 { .set-colors(#9587A3) }
.wc-cal-event-color30, .category-color30 { .set-colors(#9C87A3) }
.wc-cal-event-color31, .category-color31 { .set-colors(#A3879C) }
.wc-cal-event-color32, .category-color32 { .set-colors(#A3878E) }
